/* ========================================= General styles ======================================*/
@font-face {
    font-family: "FontFamilyLogo";
    src: url("../fonts/fontawesome-wedfont.ttf");
}
@font-face {
    font-family: "FontFamilySPro";
    src: url("../fontawesome-wedfont.ttf");
}
#imagee{
  margin:auto auto;
  width: 150px;
  height: 150px;
}
body{
    font-family: "FontFamilyLogo";
    line-height: 1.5;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
nav{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(4, 46, 80, 1);
    box-shadow: 2px 0px 7px #000;
	z-index: 50;
}
.contenedor-tabla{
    display: table;
    width: 100%;
}
.contenedor-tr {
  display: table-row;
  width: 100%;
}
.contenedor-tr > a{
	text-decoration: none;
	color: #fff;
}
.contenedor-tr > a:hover{
	background-color: rgba(0, 137, 173, 0.7);
}
.contenedor-tr > a:last-child{
	border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.table-cell-td {
  display: table-cell;
  padding: 20px 7px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 20%;
}
.table-cell-td:focus{
	outline: none;
}
.logo-navbar{
    background-image: url(../assets/img/logo-navbar.png);
    width: 89px;
    margin-top: 4px;
    height: 52px;
    margin-left: 2%;
    float: left;
}
.text-navbar{
    color: #fff;
    font-size: 19px;
    float: left;
    margin-left: 2%;
    margin-top: 15px;
}
#mobile-menu-list{
	display: none;
}
section{
    width: 100%;
    margin: 0px;
    padding: 90px 0px;
}
article{
    width: 100%;
    margin: 0px;
    padding: 10px;
}
footer{
    width: 100%;
    color: #fff;
    background-color: rgba(3, 35, 61, 1);
    padding: 20px 0px;
}

.tittles-pages-logo{
    font-family: "FontFamilyLogo";
}
.center-all-contens{
    margin-left: auto;
    margin-right: auto;
}
#carrito-compras-tienda{
    width: 100%;
    padding: 20px;
}
#container-carrito-compras{
   background-color: rgb(237, 237, 237,.9);
   color:black;
   display: none;
}
/* ========================================= index styles ======================================*/
#container-page-index{
    background-image: url(../assets/img/font-index.JPG);
}
#jumbotron-index{
    margin: 0px;
    padding: 140px 25px;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}
#new-prod-index{
    background-color: rgba(255,255,255,.9);
}
#reg-info-index{
    background-color: rgba(255,255,255,.9);
    border-top: 1px solid rgba(183, 165, 165,.2);
}
#distribuidores-index{
    background-color: rgba(186, 188, 171,.87);
    color: #000;
}
/* ========================================= product styles ======================================*/
#container-page-product{
    background-image: url(../assets/img/font-index.JPG);
}
#store, #infoproduct, #container-pedido{
    background-color: rgba(255,255,255,.97);
    min-height: 900px;
}
/* ========================================= registration styles ======================================*/
#container-page-registration{
    background-image: url(../assets/img/font-registration.jpg);
}
#form-registration{
    min-height: 900px;
    background-color: rgba(255,255,255,.95);
    padding-top: 120px;
}
#container-form{

    padding: 40px;
    background-color:#ececec;
    border-radius: 15px;
}
/* ========================================= configAdmin styles ======================================*/
#container-page-configAdmin{
    background-image: url(../assets/img/font-index.JPG);
}
#prove-product-cat-config{
    background-color: #fff;
    min-height: 900px;
}
.mensaje{
  background-color: white;
  color: red;
}
.comment-autor{
  margin-left: 45px;
}
.comment-avatar{
  float: left;
}
#add-product,
#del-prod-form,
#add-categori,
#del-categori,
#add-provee,
#del-prove,
#add-admin,
#del-admin,
#del-pedido{
    border: 1px solid #e0e1e1 !important;
    border-radius: 4px;
    padding: 10px;
}
